@import "tailwindcss";

@theme {
  --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif;
  --font-serif: 'Lato', ui-sans-serif, system-ui, sans-serif;


  --color-accent: #e8ff47;
  --color-surface: #050505;
  --color-surface-2: ##1a1918;
  --color-surface-3: #1f1f23;
  --color-border: #2a2a2f;
  --color-muted: #71717a;
  --color-text: #fafafa;
  --color-text-dim: #a1a1aa;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-surface);
  color: var(--color-text);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: rgba(124, 106, 247, 0.3);
  color: #fff;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-surface);
}

::-webkit-scrollbar-thumb {
  background: var(--color-border);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-muted);
}
